{{ define "main" }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->
{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }}
<ul class="article-list">
  {{ range $index, $page := $paginator.Pages }}
    <li class="article-list-item {{ with site.Params.chalk.scrollappear_enabled }}scrollappear{{ end }}">
      <div style="position:relative;float:left;margin-right: 30px;z-index:100;"><iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=bestopinions-20&language=en_US&marketplace=amazon&region=US&placement={{ .Params.code }}&asins={{ .Params.code }}&linkId=f5150b5a675985d29c2f8ff236523215&show_border=true&link_opens_in_new_window=true"></iframe></div>
      <div  style="position:relative;z-index: 10;">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            <h5>
            {{ .Title }}
            {{ partial "svg-icon.html" (dict "context" . "icon" "arrow-right") }}
            </h5>
        </a>
        <p>
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </p>
        {{ partial "article/info-footer.html" . }}
        </div>
    </li>
  {{ end }}

  <!-- Main Nav -->
  {{ if gt $paginator.TotalPages 1 }}
    <li class="article-pagination {{ with site.Params.chalk.scrollappear_enabled }}scrollappear{{ end }}">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="article-pagination-left">{{ partial "svg-icon.html" (dict "context" . "icon" "arrow-left") }} Newer posts</a>
      {{ end }}
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="article-pagination-right">Older posts {{ partial "svg-icon.html" (dict "context" . "icon" "arrow-right") }}</a>
      {{ end }}
    </li>
  {{ end }}
</ul>

{{ end }}
