{{ define "main" }}
<article class="article {{ with site.Params.chalk.scrollappear_enabled }}scrollappear{{ end }}">
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: 40px;
    }
  </style>

  <a
    href="https://www.amazon.com/dp/{{ .Params.code }}?_encoding=UTF8&pd_rd_w=3URZi&content-id=amzn1.sym.a1a3dfab-606d-4be0-8433-474635d71669&pf_rd_p=a1a3dfab-606d-4be0-8433-474635d71669&pf_rd_r=5B3ZQWPJ5T4XBG8HFS8R&pd_rd_wg=pBgnk&pd_rd_r=3e2b7b39-b519-461d-aed5-1ec7b5be0921&linkCode=li3&tag=bestopinions-20&linkId=4d848123585dc2855a380d0bed217d33&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      class="center"
      src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{ .Params.code }}&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bestopinions-20&language=en_US" /></a
  ><img
    rel="prefetch"
    src="https://ir-na.amazon-adsystem.com/e/ir?t=bestopinions-20&language=en_US&l=li3&o=1&a={{ .Params.code }}"
    width="1"
    height="1"
    border="0"
    alt=""
    class="center"
  />
  <div class="article-content">{{ .Content }}</div>
  <!-- AMAZON -->
  <script type="text/javascript">
    amzn_assoc_tracking_id = 'bestopinions-20';
    amzn_assoc_ad_mode = 'manual';
    amzn_assoc_ad_type = 'smart';
    amzn_assoc_marketplace = 'amazon';
    amzn_assoc_region = 'US';
    amzn_assoc_design = 'enhanced_links';
    amzn_assoc_asins = '{{ .Params.code }}';
    amzn_assoc_placement = 'adunit';
    amzn_assoc_linkid = 'e6363e30107828bce02215d44cb269f7';
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  <!-- END AMAZON -->
  <div class="article-share">
    {{ $page_title := truncate 110 .Title }} {{ $by_text := "" }} {{ with site.Params.twitter }}{{
    $by_text = printf " by @%s" . }}{{ end }} {{ $twitter_share_text := printf "%s%s" $page_title
    $by_text }}
    <a
      href="https://twitter.com/intent/tweet?text={{ $twitter_share_text }}&url={{ .Permalink }}"
      title="Share on Twitter"
      rel="noreferrer noopener"
      target="_blank"
    >
      <svg viewBox="0 0 512 512">
        <path
          d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6 -18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6 0.8 15 2.5 22.1 -80.5-4-151.9-42.6-199.6-101.3 -8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7C67 210.7 52 206.3 39 199c0 0.4 0 0.8 0 1.2 0 47 33.4 86.1 77.7 95 -8.1 2.2-16.7 3.4-25.5 3.4 -6.2 0-12.3-0.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3 -33.1 26-74.9 41.5-120.3 41.5 -7.8 0-15.5-0.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-0.1-8.4-0.3-12.5C462.6 146 479 129 492 109.5z"
        />
      </svg>
    </a>
    <a
      href="https://www.facebook.com/sharer/sharer.php?href={{ .Permalink }}"
      title="Share on Facebook"
      rel="noreferrer noopener"
      target="_blank"
    >
      <svg viewBox="0 0 512 512">
        <path
          d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64H288z"
        />
      </svg>
    </a>
  </div>
</article>
{{ end }}
